@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
    --green: #27ae60;
    --black: #444;
    --light-color: #777;
    --bg-color: #e6e6e6;
    --border: .1rem solid rgba(0, 0, 0, .2);
    --box-shadow: .4rem .4rem 1rem #ccc,
    -.4rem -.4rem 1rem #fff;
    --box-shadow-inset: .4rem .4rem 1rem #ccc inset,
    -.4rem -.4rem 1rem #fff inset;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg-color);
    padding-left: 30rem;
}

body.active {
    --black: #fff;
    --light-color: #ddd;
    --bg-color: #222;
    --border: .1rem solid rgba(0, 0, 0, .4);
    --box-shadow: .4rem .4rem 1rem #111,
    -.4rem -.4rem 1rem #333;
    --box-shadow-inset: .4rem .4rem 1rem #111 inset,
    -.4rem -.4rem 1rem #333 inset;
}

section {
    min-height: 100vh;
    padding: 2rem;
}

.btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3.5rem;
    border-radius: .5rem;
    font-size: 1.7rem;
    cursor: pointer;
    background: none;
    color: var(--black);
    box-shadow: var(--box-shadow);
}

.btn:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

.heading {
    text-align: center;
    font-size: 5rem;
    color: var(--black);
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.heading span {
    color: var(--green);
    text-transform: uppercase;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: var(--bg-color);
    width: 30rem;
    border-right: var(--border);
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.header .user img {
    margin: 1rem 0;
    border: 1rem solid transparent;
    border-radius: 50%;
    height: 17rem;
    width: 17rem;
    box-shadow: var(--box-shadow);
}

.header .user h3 {
    color: var(--black);
    font-size: 2rem;
    white-space: nowrap;

}

.header .user p{
    color:var(--green);
    font-size: 1.5rem;
}

/*.header .user p {*/
/*    color: var(--green);*/
/*    font-size: 1.5rem;*/
/*    background: #121FCF;*/
/*    background: -webkit-linear-gradient(to right, #0013ff 0%, #00FF00 45%, #ff0505 63%, #debd18 45%, #CF15B0 74%);*/
/*    background: -moz-linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #00FF00 45%, #CF15B0 74%);*/
/*    background: linear-gradient(to right, #121FCF 0%, #ffb15e 45%, #FF2929 63%, #b91616 45%, #CF15B0 74%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent*/
/*}*/

/*.header .navbar {*/
/*    padding-top: 1.3rem;*/
/*}*/

/*.header .navbar a {*/
/*    display: block;*/
/*    margin: 1.4rem 0;*/
/*    padding: .6rem;*/
/*    border-radius: 4.5rem;*/
/*    font-size: 2rem;*/
/*    box-shadow: var(--box-shadow);*/
/*    color: var(--black);*/
/*}*/

/*.header .navbar a:hover {*/
/*    box-shadow: var(--box-shadow-inset);*/
/*    background: #121FCF;*/
/*    background: -webkit-linear-gradient(to right, #0013ff 0%, #00FF00 45%, #ff0505 63%, #debd18 45%, #CF15B0 74%);*/
/*    background: -moz-linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #00FF00 45%, #CF15B0 74%);*/
/*    background: linear-gradient(to right, #121FCF 0%, #ffb15e 45%, #FF2929 63%, #b91616 45%, #CF15B0 74%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent*/
/*}*/

.header .navbar{
    padding-top: 1rem;
    width: 270px;
    height: 300px;
    overflow-y: auto;
}

.header .navbar a{
    display: block;
    margin:1.5rem 0;
    padding:.7rem;
    border-radius: 5rem;
    font-size: 2rem;
    box-shadow: var(--box-shadow);
    color:var(--black);
}

.header .navbar a:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

#menu-btn {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    transition: all 0.5s;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor:  pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
    display: none;
}

#menu-btn:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}

#theme-toggler {
    position: fixed;
    top: 1.5rem;
    right: 2rem;
    z-index: 1000;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    box-shadow: var(--box-shadow);
    text-align: center;
    color: var(--black);
    background: var(--bg-color);
}

#theme-toggler:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
}

.home {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

/*.home .content h3 {*/
/*    font-size: 4rem;*/
/*    line-height: 1.1;*/
/*    text-transform: uppercase;*/
/*}*/

/*.home .content h3 span {*/
/*    font-size: 4rem;*/
/*    line-height: 1.1;*/
/*    text-transform: uppercase;*/
/*    background: #121FCF;*/
/*    background: -webkit-linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #8a0f30 45%, #CF15B0 20%);*/
/*    background: -moz-linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #00FF00 45%, #CF15B0 74%);*/
/*    background: linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #ff0000 45%, #CF15B0 74%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*}*/
/*!*.home .content h3:nth-child(1){*!*/
/*!*    color: transparent;*!*/
/*!*    -webkit-text-stroke: 2px #03a9f4;*!*/
/*!*}*!*/
/*!*.home .content h3:nth-child(2){*!*/
/*!*    color: #03a9f4;*!*/
/*!*    animation: animate 4s ease-in-out infinite;*!*/

/*!*}*!*/

/*!*@keyframes animate {*!*/
/*!*    0%, 100%{*!*/
/*!*    clip-path: polygon(0% 45%, 15% 44%, 32% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100% , 0% 100%,);*!*/
/*!*    }*!*/
/*!*    50%{*!*/
/*!*         clip-path: polygon(0% 60%, 16% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 45%, 100% 100% , 0% 100%,);*!*/
/*!*    }*!*/
/*!*}*!*/

/*.home .content p {*/
/*    font-size: 1.9rem;*/
/*    background: #121FCF;*/
/*    background: -webkit-linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #8a0f30 45%, #CF15B0 20%);*/
/*    background: -moz-linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #00FF00 45%, #CF15B0 74%);*/
/*    background: linear-gradient(to right, #121FCF 0%, #00FF00 45%, #FF2929 63%, #ff0000 45%, #CF15B0 74%);*/
/*    -webkit-background-clip: text;*/
/*    -webkit-text-fill-color: transparent;*/
/*    padding-bottom: .5rem;*/
/*}*/

.home .content h3{
    font-size: 7rem;
    color:var(--black);
    line-height: 1.1;
    text-transform: uppercase;
}

.home .content p{
    font-size: 2rem;
    color:var(--green);
    padding-bottom: .5rem;
}

.home .share {
    position: relative;
    top: 10rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.home .share a {
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    box-shadow: var(--box-shadow);
    margin: .5rem;
    font-size: 2rem;
    color: var(--black);
    border-radius: .5rem;
}



.home .share a:hover {
    box-shadow: var(--box-shadow-inset);
    color: var(--green);
}

.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 2rem;
}

.about .row .box-container {
    flex: 1 1 40rem;
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.about .row .box-container .box {
    flex: 1 1 18rem;
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
}

.about .row .box-container .box h3 {
    font-size: 5rem;
    color: var(--black);
    line-height: 1.1;
}

.about .row .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    padding: .5rem 0;
}

.about .row .content {
    flex: 1 1 40rem;
}

.about .row .content h3 {
    font-size: 3.5rem;
    color: var(--black);
    line-height: 1.8;
}

.about .row .content h3 span {
    color: var(--green);
}

.about .row .content p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row:nth-child(3) {
    padding-top: 2rem;
}

.about .row .progress {
    flex: 1 1 40rem;
}

.about .row .progress h3 {
    color: var(--black);
    font-weight: normal;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about .row .progress .bar {
    box-shadow: var(--box-shadow);
    border-radius: 5rem;
    height: 2rem;
    padding: .5rem;
    margin: 1rem 0;
}

.about .row .progress .bar span {
    display: block;
    height: 100%;
    background: var(--green);
    border-radius: 5rem;
}

.about .row .progress .bar-1-1 span {
    width: 95%;
}

.about .row .progress .bar-1-2 span {
    width: 95%;
}

.about .row .progress .bar-1-3 span {
    width: 80%;
}

.about .row .progress .bar-2-1 span {
    width: 80%;
}

.about .row .progress .bar-2-2 span {
    width: 95%;
}

.about .row .progress .bar-2-3 span {
    width: 95%;
}

.about .row .progress .bar-2-4 span {
    width: 98%;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.services .box-container .box {
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.services .box-container .box i {
    font-size: 4rem;
    padding-bottom: 5rem;
    color: #fff;
}

.services .box-container .box h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--black);
}

.services .box-container .box p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: var(--light-color);
}

.services .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green);
    z-index: -1;
    clip-path: circle(9rem at 5% 0%);
    transition: .3s linear;
}

.services .box-container .box:hover::before {
    clip-path: circle(100%);
}

.services .box-container .box:hover > * {
    color: #fff;
}


.tech .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.tech .box-container .box {
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.tech .box-container .box i {
    font-size: 4rem;
    padding-bottom: 5rem;
    color: #fff;
}

.tech .box-container .box h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--black);
}

.tech .box-container .box p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: var(--light-color);
}

.tech .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green);
    z-index: -1;
    clip-path: circle(9rem at 5% 0%);
    transition: .3s linear;
}

.tech .box-container .box:hover::before {
    clip-path: circle(100%);
}

.tech .box-container .box:hover > * {
    color: #fff;
}



.history .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.history .box-container .box {
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.history .box-container .box i {
    font-size: 4rem;
    padding-bottom: 5rem;
    color: #fff;
}

.history .box-container .box h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--black);
}

.history .box-container .box p {
    font-size: 1.4rem;
    line-height: 1.8;
    color: var(--light-color);
}

.history .box-container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--green);
    z-index: -1;
    clip-path: circle(9rem at 5% 0%);
    transition: .3s linear;
}

.history .box-container .box:hover::before {
    clip-path: circle(100%);
}

.history .box-container .box:hover > * {
    color: #fff;
}

.portfolio .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap: 2rem;
}

.portfolio .box-container .box {
    height: 25rem;
    border-radius: .5rem;
    overflow: hidden;
    box-shadow: var(--box-shadow);
    position: relative;
    border: 1rem solid transparent;
}

.portfolio .box-container .box img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box .content {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color);
    display: grid;
    place-items: center;
    transform: scale(0);
}

.portfolio .box-container .box:hover .content {
    transform: scale(1);
}

.portfolio .box-container .box .content h3 {
    font-size: 2.5rem;
    color: var(--black);
    text-transform: uppercase;
    transform: translateY(-5rem);
    opacity: 0;
    transition-delay: .3s;
}

.portfolio .box-container .box:hover .content h3 {
    transform: translateY(0rem);
    opacity: 1;
}

.contact form {
    margin: 1rem auto;
    max-width: 70rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    padding: 2rem;
}

.contact form .box {
    padding: 1rem 1.5rem;
    width: 100%;
    background: none;
    color: var(--black);
    font-size: 1.6rem;
    text-transform: none;
    margin: .7rem 0;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}

.contact form textarea {
    height: 20rem;
    resize: none;
}

.contact form .box:focus {
    box-shadow: var(--box-shadow-inset);
}

.credits {
    font-size: 2rem;
    text-align: center;
    padding: 2.5rem 1rem;
    margin-top: 1rem;
    border-top: var(--border);
    color: var(--black);
}

.credits span {
    color: var(--green);
}


/* media queries  */

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    body {
        padding-left: 0;
    }

    .header {
        left: -100%;
        font-max-size: 3px;
    }

    . .active {
        left: 0%;
        transition: .4s linear;
    }

    #menu-btn {
        display: initial;

    }

}

@media (max-width: 445px) {

    html {
        font-size: 35%;
    }

    .header {
        width: 100%;
        border-right: 0;
        font-max-size: 3px;
    }

}